<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myback.mapper.DataMapper">
    <!--根据id更新数据-->
    <update id="updateData">
        UPDATE mydata
        <set>
            <if test="temperature != null">temperature = #{temperature},</if>
            <if test="humidity != null">humidity = #{humidity},</if>
            <if test="writeTime != null">write_time = #{writeTime},</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>